/* Лучше файлов для обнуляющих стилей называть как reset.css 
или же normalize.css 
Между названиями есть разница поэтому советую её почитать тут
https://stackoverflow.com/questions/6887336/what-is-the-difference-between-normalize-css-and-reset-css
*/

body {
  background: #000000;
}

img {
  max-width: 100%;
  margin: 0 auto;
}

.wrapper {
  max-width: 100%;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  color: #1e1e1e;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.main {
  max-width: 1170px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.calculator {
  max-width: 390px;
  width: 100%;
  margin: 0 auto;
}

.calculator__statusbar,
.calculator__display {
  background: #fff;
}

.calculator__statusbar {
  padding: 15px 27px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.calculator__statusbar-time {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: -0.32px;
  color: #000;
  text-align: center;
  -ms-grid-column-align: start;
  justify-self: start;
}

.calculator__statusbar-icons {
  -ms-grid-column-align: end;
  justify-self: end;
}

.calculator__display {
  padding: 111px 43px 43px;
}

.calculator__display-input {
  width: 100%;
  margin-bottom: 8px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  color: #637381;
  text-align: right;
  border: none;
}

.calculator__display-result {
  width: 100%;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  color: #1e1e1e;
  text-align: right;
  border: none;
}

.calculator__display-result:focus-visible {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.calculator__buttons {
  padding: 48px 43px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 12px 1fr 12px 1fr 12px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  background-color: #f5f5f5;
}

.calculator__button {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.calculator__button:nth-of-type(1) {
  border-radius: 32px;
  border: 2px solid #eaeaea;
  background-color: #f5f5f5;
}

.calculator__button:nth-of-type(2),
.calculator__button:nth-of-type(3),
.calculator__button:nth-of-type(4),
.calculator__button:nth-of-type(8),
.calculator__button:nth-of-type(12) {
  border-radius: 32px;
  border: 2px solid #eaeaea;
  background-color: #eaeaea;
}

.calculator__button:nth-of-type(5),
.calculator__button:nth-of-type(6),
.calculator__button:nth-of-type(7),
.calculator__button:nth-of-type(8),
.calculator__button:nth-of-type(9),
.calculator__button:nth-of-type(10),
.calculator__button:nth-of-type(11),
.calculator__button:nth-of-type(13),
.calculator__button:nth-of-type(14),
.calculator__button:nth-of-type(15),
.calculator__button:nth-of-type(18),
.calculator__button:nth-of-type(19) {
  color: #1e1e1e;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  background-color: #f5f5f5;
  border-radius: 32px;
  border: 2px solid #eaeaea;
}

.calculator__button:nth-of-type(16) {
  width: 64px;
  height: 144px;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4 / span 2;
  -ms-grid-column: 4;
  grid-column: 4;
  border-radius: 32px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ed0e98), to(#fe5a2d));
  background: -o-linear-gradient(top, #ed0e98 0%, #fe5a2d 100%);
  background: linear-gradient(180deg, #ed0e98 0%, #fe5a2d 100%);
  -webkit-box-shadow: 0px 8px 18px 2px rgba(247, 60, 87, 0.4);
  box-shadow: 0px 8px 18px 2px rgba(247, 60, 87, 0.4);
}

.calculator__button:nth-of-type(17) {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  background-color: #f5f5f5;
  background: -webkit-gradient(linear, left top, left bottom, from(#ed0e98), to(#fe5a2d));
  background: -o-linear-gradient(top, #ed0e98 0%, #fe5a2d 100%);
  background: linear-gradient(180deg, #ed0e98 0%, #fe5a2d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1680px) {
  .calculator__display {
    padding: 43px;
  }
}

@media (max-width: 1169.98px) {
  .calculator__buttons {
    padding: 25px 43px;
  }

  .calculator__button {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 1024px) {
  .calculator__display {
    padding: 25px;
  }
}

@media (max-width: 379.98px) {
  .calculator__buttons {
    padding: 25px 0;
    gap: 5px;
  }
}
